.advantages {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px 50px;

  @media(min-width: @tablet-width) {
    padding: 45px 30px 55px;
  }
  @media(min-width: @desktop-width) {
    padding: 72px 110px 30px;
  }
  &__title {
    margin: 0;

    .font(36px, 40px);

    @media(min-width: @tablet-width) {
      .font(60px, 60px);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;

    list-style-type: none;
    
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 55px;

      counter-reset: advantages;
    }
    @media(min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 77px;
    }
  }
  &__item {
    position: relative;

    height: 60px;
    padding-left: 80px;
    
    @media (min-width: @tablet-width) {
      padding: 142px 80px 60px 0;

      counter-increment: advantages;
    }
    @media(min-width: @desktop-width) {
      padding: 140px 0 57px 0;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 60px;
      height: 60px;

      background-repeat: no-repeat;
      background-size: cover;

      content: "";

      @media (min-width: @tablet-width) {
        top: 30px;

        width: 80px;
        height: 80px;
      }
    }
    &::after {
      position: absolute;
      top: -10px;
      left: 35%;
      z-index: -1;

      display: block;

      .font(280px, 280px, @basic-grey);
      text-align: justify;
      
      @media (min-width: @tablet-width) {
        content: counter(advantages);        
      }
      @media (min-width: @desktop-width) {
        left: 47%;
      }
    }
    &--leaf {
      &::before {
        background-image: url(../img/icons/icon-leaf-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../img/icons/icon-leaf-desktop.svg);
        }
      }
    }
    &--water {
      &::before {
        background-image: url(../img/icons/icon-water-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../img/icons/icon-water-desktop.svg);
        }
      }
    }
    &--food {
      &::before {
        background-image: url(../img/icons/icon-food-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../img/icons/icon-food-desktop.svg);
        }
      }
    }
    &--time {
      &::before {
        background-image: url(../img/icons/icon-time-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../img/icons/icon-time-desktop.svg);
        }
      }
    }
  } 
  &__text {
    margin: 0;

    .font(14px, 18px, @dark-grey, "Arial");

    @media(min-width: @tablet-width) {
      .font(16px, 24px, @dark-grey, "Arial");
    }
  }
  
}
