.advantages {
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media(min-width: @tablet-width) {
    padding: 45px 30px 55px;
  }
  @media(min-width: @desktop-width) {
    padding: 72px 110px 30px;
  }
  &__title {
    .font(36px, 40px);
    margin: 0;

    @media(min-width: @tablet-width) {
      .font(60px, 60px);
    }
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 55px;
      counter-reset: advantages;
    }
    @media(min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 77px;
    }
  }
  &__item {
    padding-left: 80px;
    height: 60px;
    position: relative;
    
    @media (min-width: @tablet-width) {
      padding: 142px 80px 60px 0;
      counter-increment: advantages;
    }
    @media(min-width: @desktop-width) {
      padding: 140px 0 57px 0;
    }
    &::before {
      content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: cover;

      @media (min-width: @tablet-width) {
        top: 30px;
        width: 80px;
        height: 80px;
      }
    }
    &::after {
      display: block;
      position: absolute;
      top: -10px;
      left: 35%;
      z-index: -1;
      text-align: justify;
      .font(280px, 280px, @basic-grey);
      
      @media (min-width: @tablet-width) {
        content: counter(advantages);        
      }
      @media (min-width: @desktop-width) {
        left: 47%;
      }
    }
    &--leaf {
      &::before {
        background-image: url(../../img/icons/icon-leaf-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../../img/icons/icon-leaf-desktop.svg);
        }
      }
    }
    &--water {
      &::before {
        background-image: url(../../img/icons/icon-water-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../../img/icons/icon-water-desktop.svg);
        }
      }
    }
    &--food {
      &::before {
        background-image: url(../../img/icons/icon-food-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../../img/icons/icon-food-desktop.svg);
        }
      }
    }
    &--time {
      &::before {
        background-image: url(../../img/icons/icon-time-mobile.svg);

        @media (min-width: @tablet-width) {
          background-image: url(../../img/icons/icon-time-desktop.svg);
        }
      }
    }
  } 
  &__text {
    .font(14px, 18px, @dark-grey, "Arial");
    margin: 0;

    @media(min-width: @tablet-width) {
      .font(16px, 24px, @dark-grey, "Arial");
    }
  }
  
}
