.contacts {
  background-color: @basic-white;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  
  
  &__wrapper {
    display: flex;
    padding: 26px 20px;
    justify-content: space-between;

    @media(min-width: @tablet-width) {
      padding: 26px 30px;
    }
    @media(min-width: @desktop-width) {
      background-color: @basic-white;
      max-width: 565px;
      position: absolute;
      top: 95px;
      left: 110px;
    }
  }
  &__title {
    .font(16px, 20px, @basic-black-2);
    text-transform: uppercase;
    margin: 0;
    width: 140px;
  }
  &__adress {
    .font(14px, 20px, @dark-grey, "Arial");
    margin-bottom: 26px;
    width: 140px;
  }
  &__map {
    height: 362px;
    background-image: url(../../img/map-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(min-width: @tablet-width) {
      height: 400px;
      background-image: url(../../img/map-tablet.png);
    }
    @media(min-width: @desktop-width) {
      background-image: url(../../img/map-desktop.png);
    }
  }
}
