.contacts {
  background-color: @basic-white;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  
  &--catalog {
    background-color: @basic-grey;
  }
  
  &__wrapper {
    display: flex;
    padding: 26px 20px;
    justify-content: space-between;

    @media(min-width: @tablet-width) {
      padding: 59px 70px 63px;
    }
    @media(min-width: @desktop-width) {
      background-color: @basic-white;
      position: absolute;
      top: 95px;
      left: 110px;
      padding: 60px 78px;
      justify-content: start;
      gap: 50px;
    }
  }
  &__title {
    .font(16px, 20px, @basic-black-2);
    text-transform: uppercase;
    margin: 0;
    width: 140px;

    @media(min-width: @tablet-width) {
      .font(20px, 26px, @basic-black-2);
      width: 200px;
    }
  }
  &__adress {
    .font(14px, 20px, @dark-grey, "Arial");
    width: 140px;
    font-style: normal;

    @media(min-width: @tablet-width) {
      .font(16px, 20px, @dark-grey, "Arial");
      width: 160px;
      text-align: end;

    }
    @media(min-width: @desktop-width) {
      text-align: start;
      margin-top: -5px;
    }
  }
  &__city {
    @media(min-width: @tablet-width) {
      display: block;
      margin-top: 20px;
    }
  }
  &__map {
    height: 362px;
    background-image: url(../../img/map-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(min-width: @tablet-width) {
      height: 400px;
      background-image: url(../../img/map-tablet.png);
    }
    @media(min-width: @desktop-width) {
      background-image: url(../../img/map-desktop.png);
    }
  }
}
