.contacts {
  background-color: @basic-grey;
  &__title {
    .font(16px, 20px);
    text-transform: uppercase;
    margin: 0;
    color: @basic-black-2;
  }
  &__adress {
    .font(14px, 20px);
    color: @dark-grey;
  }
  &__map {
    display: block;
  }
}
