.extra {
  &__title {
    .font(16px, 16px, @dark-grey-2);
    margin: 0;
  }
  &__data {
    .font(14px, 14px, @dark-grey, "Arial");
    margin: 0;
  }
  &__button {
    .font(16px, 20px, @basic-white);
    background-color: @basic-green;
  }
}
