.extra {
  &__title {
    .font(16px, 16px);
    margin: 0;
    color: @dark-grey-2;
  }
  &__data {
    font-family: "Arial";
    .font(14px, 14px);
    margin: 0;
    color: @dark-grey;
  }
  &__button {
    .font(16px, 20px);
    background-color: @basic-green;
    color: @basic-white;
  }
}
