.food-item {
  &__link {
    text-decoration: none;
  }
  &__title {
    .font(16px, 20px, @dark-grey-2);
    margin: 0;
    text-transform: uppercase;
  }
  &__image {
    display: block;
  }
  &__data {
    .font(12px, 16px, @dark-grey, "Arial");
    margin: 0;
  }
  &__button {
    .font(16px, 20px, @basic-white);
    background-color: @basic-green;
  }
}
