.food-item {
  &__link {
    text-decoration: none;
  }
  &__title {
    .font(16px, 20px);
    margin: 0;
    color: @dark-grey-2;
    text-transform: uppercase;
  }
  &__image {
    display: block;
  }
  &__data {
    font-family: "Arial";
    .font(12px, 16px);
    color: @dark-grey;
    margin: 0;
  }
  &__button {
    .font(16px, 20px);
    background-color: @basic-green;
    color: @basic-white;
  }
}
