.offer {
  background-color: @basic-green;
  font-family: "Arial";
  .font(16px, 20px);
  margin: 0;
  color: @basic-white;
  background-image: url(../../img/catalog-gift-background.jpg);
  background-repeat: no-repeat;
  background-size: 280px 290px;
}
