.offer {
  .font(16px, 20px, @basic-white, "Arial");
  margin: 0;
  padding: 0 20px;
  &__wrapper {
  background-color: @basic-green;
  background-image: url(../../img/catalog-gift-background.jpg);
  background-repeat: no-repeat;
  background-size: 280px 290px;
  }
  &__text {
    margin: 0;
    padding: 187px 60px 43px;
  }
}
