.page-main {
  &__header {
    background-color:  rgba(104, 183, 56, 0.85);
    color: @basic-white;
    background-image: url(../../img/index-background-image.jpg);
    background-repeat: no-repeat;
    background-size: 320px 302px; 
  }
  &__title {
    .font(36px, 36px);
    margin: 0;
    color: @basic-black;
  }
  &__text {
    .font(14px, 18px);
    text-transform: uppercase;
    margin: 0;
    color: @basic-black;
  }
  &__offer {
    box-sizing: content-box;
  }
}
