.page-footer {
  &__logo {
    display: block;
    margin-bottom: 52px;
  }
  &__social {
    margin: 0 0 43px;
    padding: 0;
    list-style-type: none;
  }
  &__academy {
    .font(16px, 18.4px, @dark-grey, "Arial");
    text-decoration: none;
  }
}
