.page-header {
  &__nav {
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-direction: row;
    }
    @media (max-width: @mobile-width-only) {
      &--closed {
        .page-header__menu {
          display: none;
        }
      }
      &--opened {
        .page-header__menu {
          display: initial;
        }
        .page-header__toggle::before {
          position: absolute;
          transform: rotate(45deg);

          display: block;
          width: 25px;
          height: 1.5px;

          background-color: @basic-black;
          box-shadow: none;

          content: "";
        }
        .page-header__toggle::after {
          position: absolute;
          transform: rotate(-45deg);

          display: block;
          width: 25px;
          height: 1.5px;

          background-color: @basic-black;

          content: "";
        }
      }
      &--nojs {
        .site-menu {
          position: static;

          display: block;
        }
        .page-header__toggle {
          display: none;
        }
      }
    }
  }
  &__menu {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: @basic-white;

    @media (min-width: @tablet-width) {
      position: initial;

      flex-direction: row;
      gap: 36px;
    }
    @media (min-width: @desktop-width) {
      background-color: transparent;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 57px;
    width: max-content;
    margin-bottom: 14px;

    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }

    @media (min-width: @tablet-width) {
      gap: 12px;
      margin-top: 4px;
    }
    @media (min-width: @desktop-width) {
      margin-top: 0;
    }
  }
  &__toggle {
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 2;

    display: block;
    width: 24px;
    height: 16px;
    padding: 0;

    background-color: @basic-white;
    border: none;

    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &::before {
      display: block;
      width: 24px;
      height: 1.5px;

      background-color: @basic-black;
      box-shadow: 0 -8px 0 0, 0 8px 0 0;

      content: "";
    }
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
