.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__logo {
    display: block;
    align-self: center;
    padding: 39px 0 30px;

    &:hover {
      opacity: 80%;
    }
    &:active {
      opacity: 60%;
    }

    @media (min-width: @tablet-width) {
      margin: 0;
      padding: 0;
    }
  }
  &__social {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 22px 0;

    list-style-type: none;

    @media (max-width: @mobile-width-only) {
      &::before {
        position: absolute;
        top: 0;

        width: 280px;
        height: 1px;

        background-color: @basic-grey-2;

        content: "";
      }
      &::after {
        position: absolute;
        bottom: 0;

        width: 280px;
        height: 1px;

        background-color: @basic-grey-2;

        content: "";
      }
    }

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }
  &__academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;

    .font(16px, 18.4px, @dark-grey, "Arial");
    text-decoration: none;

    @media (min-width: @tablet-width) {
      justify-content: flex-end;
      align-items: center;
      gap: 22px;
      width: 163px;
      margin-left: auto;
      padding: 0;
    }
  }
}
