.page-main {
  &__header {
    margin-bottom: 20px;
  }
  &__title {
    .font(36px, 36px);
    margin: 0;
    padding: 0 20px;
  }
  &__text {
    .font(14px, 18px);
    text-transform: uppercase;
    margin: 0;
    padding: 0 20px;
  }
  &__offer {
    padding: 0 20px;
    box-sizing: content-box;
  }
}
