.page-main {
  &__header {
    background-image: url(../../img/index-background-image.jpg);
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    padding: 27px 20px 0;
    margin-bottom: 20px;
  }
  &__title {
    .font(36px, 36px);
    margin: 0;
    padding: 0 20px;
  }
  &__text {
    .font(14px, 18px);
    text-transform: uppercase;
    margin: 0;
    padding: 0 20px;
  }
  &__offer {
    padding: 0 20px;
    box-sizing: content-box;
  }
}
