.page {
  &__body {
    background-color: @basic-white;
    font-family: "Oswald";
    font-weight: 400;
    color: red;
  }
  &__header {
    font-weight: 500;
    .font(20px, 20px);
  }
  &__footer {
    background-color: @basic-grey;
    .font(16px, 18.4px);
  }
}
