.programm-options {
  padding: 0 20px;
  margin-bottom: 20px;

  @media(min-width: @tablet-width) {
    padding: 0 30px;
  }
  @media(min-width: @desktop-width) {
    padding: 0 110px;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(min-width: @desktop-width) {
      flex-direction: row;
    }
  }
  &__item {
    background-color: @basic-grey-2;
    padding: 30px 20px 20px;
  }
  &__title {
    .font(24px, 37px);
    text-transform: uppercase;
    margin: 0 0 30px;
  }
  &__text {
    .font(14px, 18px, @dark-grey, "Arial");
    margin: 0 0 38px;
  }
  &__link {
    .font(16px, 16px);
    text-transform: uppercase;
    text-decoration: none;
  }
}
