.programm-options {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    background-color: @basic-grey-2;
  }
  &__title {
    .font(24px, 37px);
    text-transform: uppercase;
    margin: 0;
    color: @basic-black;
  }
  &__text {
    font-family: "Arial"; 
    .font(14px, 18px);
    color: @dark-grey;
    margin: 0;
  }
  &__link {
    .font(16px, 16px);
    text-transform: uppercase;
    color: @basic-black;
    text-decoration: none;
  }
}
