.questionary {
  padding: 20px 20px 32px;

  @media (min-width: @tablet-width) {
    padding: 50px 70px 73px;
  }
  @media (min-width: @desktop-width) {
    padding: 20px 110px 83px;
  }

  &__main-wrapper {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }
  &__field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: none;
  }
  &__label {
    position: relative;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 14px;
    align-items: center;

    cursor: pointer;
  }
  &__title {
    .font(24px, 26px);

    @media (min-width: @tablet-width) {
      .font(36px, 36px);
    }
  }
  &__text {
    .font(16px, 18px, @dark-grey);
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      .font(20px, 30px);
    }
  }
  &__input {
    min-width: 100px;

    .font(16px, 18px, @dark-grey);
    text-transform: uppercase;

    border: 1px solid @basic-grey-6;

    cursor: pointer;

    &:hover {
      border-color: @special-grey-4;
    }
    &:focus {
      outline: 2px solid @dark-grey;
      outline-offset: -2px;

      & + .field-contacts__icon {
        &--mail {
          stroke: @basic-green;
        }
        &--phone {
          fill: @basic-green;
        }
      }
    }
    &:not(:placeholder-shown):focus:invalid {
      outline-color: @status-error;

      & + .field-contacts__icon {
        &--mail {
          stroke: @status-error;
        }
        &--phone {
          fill: @status-error;
        }
      }
    }

    @media (min-width: @tablet-width) {
      .font(20px, 30px);
    }
  }
  &__button-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
    @media (min-width: @desktop-width) {
      gap: 80px;
    }
  }
  &__button {
    margin-bottom: 20px;
    padding: 11px 0;

    .font(16px, 20px, @basic-white);

    background-color: @basic-green;
    border: none;

    cursor: pointer;

    @media (min-width: @tablet-width) {
      grid-column: 1 / 2;
      margin: 0;
      padding: 17px 20px 15px;

      .font(20px, 20px, @basic-white);
    }
  }
  &__footnote {
    margin: 0 auto;

    .font(14px, 16px, @basic-black, "Arial");

    @media (min-width: @tablet-width) {
      grid-column: 2 / 3;
      align-self: center;
      margin: 0;

      .font(16px, 16px, @basic-black, "Arial");
    }
  }
}
