.range {
  &__item {
    margin: 0 17px;
    padding: 0;

    .font(16px, 20px);
    text-transform: uppercase;

    background-color: inherit;
    border: none;

    cursor: pointer;

    @media (min-width: @tablet-width) {
      margin: auto 22px;

      .font(20px, 30px);

      border-bottom: 1px dotted fadeout(@basic-black, 76%);
    }
    @media (min-width: @desktop-width) {
      margin: auto 5px;
    }
  }
  &__toggler {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 86px;
    height: 14px;
    box-sizing: border-box;

    border: 1px solid @special-grey-4;
    border-radius: 6px;

    &::before {
      display: block;
      align-self: center;
      width: 36px;
      height: 6px;
      margin: 0 6px;

      background-color: @basic-green;
      border-radius: 6px;

      content: "";
    }
    .range--before & {
      justify-content: flex-start;
    }
    .range--after & {
      justify-content: flex-end;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
  &__slider {
    display: none;
    width: 426px;

    @media (min-width: @tablet-width) {
      display: initial;
      padding: 35px 0;

      background-color: transparent;
      appearance: none;
    }
    @media (min-width: @desktop-width) {
      padding: 25px 0;
    }

    &::-moz-range-thumb {
      width: 30px;
      height: 30px;
      padding: 0;
      box-sizing: border-box;

      background-color: @basic-green;
      border: 11px solid @basic-white;
      border-radius: 50%;
      box-shadow: 0 0 0 1px @special-grey-4,
        0 1px 3px fadeout(@basic-black, 84%);

      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 1px @special-grey-4,
          0 2px 4px fadeout(@basic-black, 81%);
      }
      &:active {
        box-shadow: 0 0 0 1px @special-grey-4,
          0 3px 5px fadeout(@basic-black, 80%);
      }
    }
    &::-moz-range-track {
      height: 8px;

      background-color: @special-grey-5;
      border-radius: 6px;
    }

    &::-webkit-slider-thumb {
      height: 30px;
      width: 30px;
      margin-top: -12px;
      padding: 0;
      box-sizing: border-box;

      background-color: @basic-green;
      border: 11px solid @basic-white;
      border-radius: 50%;
      box-shadow: 0 0 0 1px @special-grey-4 0 1px 3px fadeout(@basic-black, 84%);
      appearance: none;

      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 1px @special-grey-4,
          0 2px 4px fadeout(@basic-black, 81%);
      }
      &:active {
        box-shadow: 0 0 0 1px @special-grey-4,
          0 3px 5px fadeout(@basic-black, 80%);
      }
    }
    &::-webkit-slider-runnable-track {
      height: 8px;

      background-color: @special-grey-5;
      border-radius: 6px;
    }
  }
}
