.section-extra {
  padding: 25px 20px 35px;

  box-shadow: inset 0 1px @special-grey;

  @media (min-width: @tablet-width) {
    padding: 70px 30px 75px;

    box-shadow: none;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 18fr 5fr;
    gap: 80px;
    padding: 77px 110px 85px;
  }
  &__title {
    position: relative;

    margin: 0 0 36px;

    .font(24px, 24px);

    background-color: @basic-white;

    &::after {
      position: absolute;
      top: 16px;
      right: -20px;

      display: block;
      width: 19%;
      height: 2px;

      background-color: @basic-green;

      content: "";
    }

    @media (min-width: @tablet-width) {
      margin: 0 0 80px;
      padding-left: 37px;

      .font(36px, 36px);

      &::before {
        position: absolute;
        top: 22px;
        left: -30px;

        display: block;
        width: 4%;
        height: 2px;

        background-color: @basic-green;

        content: "";
      }
      &::after {
        top: 22px;
        right: -30px;

        width: 46%;
      }
    }
    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;

      &::before {
        top: 25px;
        left: -110px;

        width: 6%;
      }
      &::after {
        top: 24px;
        right: -110px;

        width: 78%;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    list-style-type: none;

    @media (min-width: @tablet-width) {
      margin-bottom: 69px;

      box-shadow: inset 0 0 0 1px @special-grey;
    }
    @media (min-width: @desktop-width) {
      margin: 0;

      box-shadow: none;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 12px 0 18px;

    box-shadow: inset 0 1px 0 0 @special-grey;

    &:last-of-type {
      box-shadow: inset 0 1px 0 0 @special-grey, inset 0 -1px 0 0 @special-grey;

      @media (min-width: @tablet-width) {
        box-shadow: none;
      }
    }
    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
      gap: 23px;
      padding: 27px 38px;

      box-shadow: inset 0 -1px 0 0 @special-grey;
    }
    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr min-content;
      gap: 40px;
      padding: 19px 0 13px;
    }
  }
  &__offer {
    .font(16px, 20px, @basic-white, "Arial");
    text-align: center;

    @media (min-width: @tablet-width) {
      text-align: start;
    }
    @media (min-width: @desktop-width) {
      text-align: center;
    }
  }
}
