.select-programm {
  &__title {
    .font(36px, 36px);
    margin: 0;
  }
  &__text {
    .font(14px, 14px);
    text-transform: uppercase;
    margin: 0;
  }
  &__image {
    display: block;
  }
  &__button {
    .font(14px, 18px);
    background-color: @basic-green;
    color: @basic-white;
    text-decoration: none;
  }
}
