.show-more {
  &__title {
    .font(16px, 20px, @basic-black-2);
    text-transform: uppercase;
    margin: 0;
  }
  &__text {
    .font(12px, 16px, @dark-grey, "Arial");
    margin: 0;
  }
  &__button {
    .font(16px, 20px, @dark-grey);
    background-color: @basic-grey;
  }
}
