@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldregular.woff2) format("woff2"), url(../fonts/oswaldregular.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldmedium.woff2) format("woff2"), url(../fonts/oswaldmedium.woff) format("woff");
}
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Arial");
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  text-transform: uppercase;
}
.range__item {
  padding: 0;
}
.page__body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
}
.page__header {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__header {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page__header {
    padding: 0 110px;
  }
}
.page__footer {
  background-color: #f2f2f2;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #000000;
  padding: 39px 20px 22px;
}
@media (min-width: 768px) {
  .page__footer {
    padding: 58px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .page__footer {
    padding: 58px 110px 55px;
  }
}
.page-header__nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-header__nav {
    flex-direction: row;
    gap: 95px;
  }
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 66px;
}
.page-header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 66px;
}
@media (min-width: 768px) {
  .page-header__menu {
    position: initial;
    flex-direction: row;
    justify-content: end;
    gap: 33px;
  }
}
.page-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.site-menu__item {
  list-style-type: none;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-menu__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.page-main__header {
  margin-bottom: 20px;
}
.page-main__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__title {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .page-main__title {
    padding: 0 110px;
  }
}
.page-main__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__text {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .page-main__text {
    padding: 0 110px;
  }
}
.select-programm__wrapper {
  background-image: url(../../img/index-background-image.jpg);
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 302px;
  padding: 27px 20px 0;
}
@media (min-width: 768px) {
  .select-programm__wrapper {
    background: none;
    padding: 62px 237px 0 117px;
  }
}
@media (min-width: 1440px) {
  .select-programm__wrapper {
    padding: 110px 836px 0 190px;
  }
}
.select-programm__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 0 25px;
}
@media (min-width: 768px) {
  .select-programm__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 414px;
  }
}
.select-programm__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 29px;
}
@media (min-width: 768px) {
  .select-programm__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}
.select-programm__image {
  display: block;
  margin: 0 auto;
}
.select-programm__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  margin: 0 20px;
}
.programm-options {
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-options {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .programm-options {
    padding: 0 110px;
  }
}
.programm-options__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1440px) {
  .programm-options__list {
    flex-direction: row;
  }
}
.programm-options__item {
  background-color: #d9d9d9;
  padding: 30px 20px 20px;
}
.programm-options__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.programm-options__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 38px;
}
.programm-options__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.advantages {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 20px 30px 30px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 20px 110px 30px;
  }
}
.advantages__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    gap: 94px;
  }
}
.advantages__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
.example {
  background-color: #d9d9d9;
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example {
    padding: 25px 30px 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 25px 110px 40px;
    grid-template-columns: 1fr 1fr;
  }
}
.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
}
@media (min-width: 768px) {
  .example__title {
    grid-column: 1 / 4;
  }
}
@media (min-width: 1440px) {
  .example__title {
    grid-column: 1 / 2;
  }
}
.example__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .example__text {
    grid-column: 1 / 4;
  }
}
@media (min-width: 1440px) {
  .example__text {
    grid-column: 1 / 2;
  }
}
.example__list {
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .example__list {
    grid-column: 1 / 3;
  }
}
@media (min-width: 1440px) {
  .example__list {
    grid-column: 1 / 2;
  }
}
.example__legend {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  order: 2;
}
.example__description {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.example__spending {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 40px;
}
@media (min-width: 1440px) {
  .example__spending {
    grid-column: 1 / 2;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__images {
    grid-column: 2 / 3;
  }
}
.example__image {
  display: block;
}
.example__range {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
@media (min-width: 1440px) {
  .example__range {
    grid-column: 2 / 3;
  }
}
.contacts {
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 26px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    background-color: #ffffff;
    max-width: 565px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
.contacts__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  width: 140px;
}
.contacts__adress {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 26px;
  width: 140px;
}
.contacts__map {
  height: 362px;
  background-image: url(../../img/map-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
    background-image: url(../../img/map-tablet.png);
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    background-image: url(../../img/map-desktop.png);
  }
}
.questionary {
  padding: 20px 20px 32px;
}
@media (min-width: 768px) {
  .questionary {
    padding: 20px 70px 32px;
  }
}
@media (min-width: 1440px) {
  .questionary {
    padding: 20px 110px 32px;
  }
}
.questionary__field {
  margin: 0 0 20px;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.questionary__label {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.questionary__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.questionary__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.questionary__input {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.questionary__check {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.questionary__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  margin-bottom: 20px;
}
.questionary__footnote {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}
@media (min-width: 1440px) {
  .questionary__main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .questionary__contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .questionary__additional-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .questionary__additional-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.questionary__button-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .questionary__button-wrapper {
    flex-direction: row;
  }
}
.section-food {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .section-food {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .section-food {
    padding: 0 110px;
  }
}
.section-food__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .section-food__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .section-food__list {
    gap: 80px;
  }
}
.section-food__item {
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}
@media (min-width: 768px) {
  .section-food__item {
    display: flex;
    flex-direction: column;
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .section-food__item {
    width: 245px;
  }
}
.section-food__show-more {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section-food__show-more {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .section-food__show-more {
    width: 245px;
  }
}
.food-item__link {
  text-decoration: none;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
@media (min-width: 768px) {
  .food-item__link {
    margin-bottom: 34px;
  }
}
.food-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  width: 55%;
  text-transform: uppercase;
  grid-column: 2 / 3;
}
@media (min-width: 768px) {
  .food-item__title {
    margin-bottom: 21px;
  }
}
.food-item__image {
  display: block;
}
.food-item__data {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: space-between;
}
.food-item__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  grid-column: 1 / 3;
}
.data-list__description {
  margin: 0;
  justify-self: flex-end;
}
.show-more__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}
.show-more__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
.show-more__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}
.section-extra {
  padding: 25px 20px 20px;
}
@media (min-width: 768px) {
  .section-extra {
    padding: 25px 30px;
  }
}
@media (min-width: 1440px) {
  .section-extra {
    padding: 25px 110px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}
.section-extra__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
@media (min-width: 1440px) {
  .section-extra__title {
    grid-column: 1 / -1;
  }
}
.section-extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .section-extra__list {
    margin-bottom: 69px;
  }
}
.section-extra__item {
  padding: 11px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .section-extra__item {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1440px) {
  .section-extra__item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
  }
}
.extra__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .extra__title {
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .extra__title {
    margin: 0;
  }
}
.extra__data {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .extra__data {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}
.extra__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .extra__button {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1440px) {
  .extra__button {
    grid-column: 3 / 4;
  }
}
@media (min-width: 768px) {
  .data__name {
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .data__name {
    justify-self: start;
  }
}
.data__description {
  margin: 0;
}
@media (min-width: 1440px) {
  .data__description {
    justify-self: start;
  }
}
.offer {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
.offer__wrapper {
  background-color: #68b738;
  background-image: url(../../img/catalog-gift-background.jpg);
  background-repeat: no-repeat;
  background-size: 280px 290px;
}
@media (min-width: 768px) {
  .offer__wrapper {
    background-size: cover;
    background-position: center;
  }
}
.offer__text {
  margin: 0;
  padding: 187px 60px 43px;
}
@media (min-width: 768px) {
  .offer__text {
    padding: 71px 124px 69px 422px;
  }
}
@media (min-width: 1440px) {
  .offer__text {
    padding: 184px 40px 40px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.page-footer__logo {
  display: block;
  margin-bottom: 52px;
  align-self: center;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
  }
}
.page-footer__social {
  margin: 0 0 43px;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 33px;
  align-self: center;
}
@media (min-width: 768px) {
  .page-footer__social {
    justify-content: center;
    margin: 0;
  }
}
.page-footer__academy {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer__academy {
    justify-content: flex-end;
    gap: 22px;
  }
}
/*# sourceMappingURL=style.css.map */
