@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldregular.woff2) format("woff2"), url(../fonts/oswaldregular.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/oswaldmedium.woff2) format("woff2"), url(../fonts/oswaldmedium.woff) format("woff");
}
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Arial");
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  text-transform: uppercase;
}
.range__item {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 0;
  border: none;
  text-transform: uppercase;
  background-color: inherit;
  margin: 0 17px;
}
@media (min-width: 768px) {
  .range__item {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
.range__toggler {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 86px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}
.range__toggler::before {
  content: "";
  display: block;
  align-self: center;
  width: 36px;
  height: 6px;
  margin: 0 6px;
  border-radius: 6px;
  background-color: #68b738;
}
.range--before .range__toggler {
  justify-content: flex-start;
}
.range--after .range__toggler {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .range__toggler {
    display: none;
  }
}
.range__slider {
  width: 426px;
  display: none;
}
@media (min-width: 768px) {
  .range__slider {
    display: initial;
    padding: 35px 0;
  }
}
@media (min-width: 1440px) {
  .range__slider {
    padding: 25px 0;
  }
}
.page__body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
}
.page__header {
  padding: 10px 20px 17px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .page__header {
    padding: 22px 30px 0;
  }
}
@media (min-width: 1440px) {
  .page__header {
    padding: 50px 110px 0;
  }
}
.page__footer {
  background-color: #f2f2f2;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #000000;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__footer {
    padding: 58px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .page__footer {
    padding: 58px 110px 55px;
  }
}
.page-header__nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-header__nav {
    flex-direction: row;
  }
}
.page-header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 65px;
  z-index: 2;
}
@media (min-width: 768px) {
  .page-header__menu {
    position: initial;
    flex-direction: row;
    gap: 36px;
  }
}
.page-header__logo {
  text-decoration: none;
  display: flex;
  gap: 57px;
  align-items: center;
}
@media (min-width: 768px) {
  .page-header__logo {
    gap: 12px;
  }
}
.page-header__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  width: 24px;
  height: 16px;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0;
}
.page-header__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 -8px 0 0 #000000, 0 8px 0 0 #000000;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.site-menu__item {
  position: relative;
  list-style-type: none;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px 0 #e6e6e6;
}
@media (min-width: 768px) {
  .site-menu__item {
    box-shadow: none;
  }
  .site-menu__item--current::after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
.site-menu__link {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .site-menu__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
@media (max-width: 767px) {
  .site-menu--closed {
    display: none;
  }
  .site-menu--opened {
    display: initial;
  }
}
.page-main__header {
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .page-main__header {
    margin: 0;
  }
}
.page-main__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .page-main__title {
    padding: 0 110px;
  }
}
.page-main__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .page-main__text {
    padding: 0 110px;
  }
}
.select-programm__wrapper {
  background-image: url(../../img/index-background-image.jpg);
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 27px 20px 135px;
}
@media (min-width: 768px) {
  .select-programm__wrapper {
    background: none;
    padding: 52px 237px 0 117px;
  }
}
@media (min-width: 1440px) {
  .select-programm__wrapper {
    padding: 110px 836px 260px 190px;
    background-image: url(../../img/index-background-image-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
}
.select-programm__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 25px;
}
@media (min-width: 768px) {
  .select-programm__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 0 0 41px;
    width: 414px;
    text-align: start;
  }
}
.select-programm__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px;
}
@media (min-width: 768px) {
  .select-programm__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
  }
}
.select-programm__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: -135px auto 3px;
}
@media (min-width: 768px) {
  .select-programm__image {
    width: auto;
    height: 609px;
    margin: -7px 0 0 109px;
  }
}
@media (min-width: 1440px) {
  .select-programm__image {
    position: absolute;
    top: 40px;
    left: 485px;
    width: auto;
    height: 495px;
  }
}
.select-programm__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  display: block;
  margin: 0 20px;
  padding: 11px 44px;
  text-align: center;
}
@media (min-width: 768px) {
  .select-programm__button {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    position: absolute;
    top: 282px;
    left: 120px;
    padding: 17px 26px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .select-programm__button {
    top: 340px;
    left: 190px;
  }
}
.programm-options {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .programm-options {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .programm-options {
    padding: 80px 110px 0;
  }
}
.programm-options__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .programm-options__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programm-options__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.programm-options__item {
  background-color: #f2f2f2;
  padding: 30px 20px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .programm-options__item {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1440px) {
  .programm-options__item {
    padding: 77px 55px 60px 52px;
  }
}
.programm-options__item--slim::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url(../../img/icon-cat-skinny.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .programm-options__item--slim::before {
    top: 81px;
    left: 446px;
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1440px) {
  .programm-options__item--slim::before {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 106px;
  }
}
.programm-options__item--pro::before {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url(../../img/icon-cat-gain.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .programm-options__item--pro::before {
    top: 91px;
    left: 412px;
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .programm-options__item--pro::before {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
  }
}
.programm-options__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding-left: 70px;
}
@media (min-width: 768px) {
  .programm-options__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin: 0 0 23px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .programm-options__title {
    padding-left: 163px;
    margin: 0 0 73px;
  }
}
.programm-options__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 40px;
  position: relative;
}
@media (max-width: 767px) {
  .programm-options__text::after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
    bottom: -23px;
  }
}
@media (min-width: 768px) {
  .programm-options__text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 0 0 52px;
  }
}
@media (min-width: 1440px) {
  .programm-options__text {
    margin: 0 0 25px;
  }
}
.programm-options__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .programm-options__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
.programm-options__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 24px;
  left: 121px;
  width: 24px;
  height: 12px;
  background-image: url(../../img/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .programm-options__link::after {
    bottom: 66px;
    left: 181px;
    width: 32px;
  }
}
.advantages {
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 45px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 72px 110px 30px;
  }
}
.advantages__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    counter-reset: advantages;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 77px;
  }
}
.advantages__item {
  padding-left: 80px;
  height: 60px;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 145px 80px 57px 0;
    counter-increment: advantages;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    padding: 145px 20px 57px 0;
  }
}
.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .advantages__item::before {
    top: 30px;
    width: 80px;
    height: 80px;
  }
}
.advantages__item::after {
  display: block;
  position: absolute;
  top: -10px;
  left: 115px;
  z-index: -1;
  text-align: justify;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
  color: #f2f2f2;
}
@media (min-width: 768px) {
  .advantages__item::after {
    content: counter(advantages);
  }
}
.advantages__item--leaf::before {
  background-image: url(../../img/icon-leaf.svg);
}
.advantages__item--water::before {
  background-image: url(../../img/icon-water.svg);
}
.advantages__item--food::before {
  background-image: url(../../img/icon-food.svg);
}
.advantages__item--time::before {
  background-image: url(../../img/icon-time.svg);
}
.advantages__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 20px 43px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
    padding: 45px 30px 33px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 50px 110px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 0 55px;
  }
}
.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 0 0 65px;
    grid-column: 1 / 4;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin: 0 0 146px;
    grid-column: 1 / 2;
  }
}
.example__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .example__text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 0 0 53px;
    grid-column: 1 / 4;
  }
}
@media (min-width: 1440px) {
  .example__text {
    grid-column: 1 / 2;
    margin: 0 0 70px;
    padding: 0 130px 0 0;
  }
}
.example__list {
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 0 32px;
}
@media (min-width: 768px) {
  .example__list {
    grid-template-columns: 1fr 1fr 95px;
    grid-column: 1 / 3;
    gap: 0 43px;
  }
}
@media (min-width: 1440px) {
  .example__list {
    grid-column: 1 / 2;
    grid-template-columns: 162px 162px auto;
    gap: 0 42px;
  }
}
.example__legend {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  order: 2;
  margin: 0 auto;
  width: min-content;
  padding: 0 10px;
  margin-top: -10px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__legend {
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    grid-row: 2 / 3;
    margin-top: -5px;
    width: max-content;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__legend {
    padding: 10px 0;
    margin-top: -18px;
    background-color: #eaeaea;
  }
}
.example__description {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 15px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  outline: 1px solid grey;
}
@media (min-width: 768px) {
  .example__description {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    grid-row: 1 / 2;
    padding: 15px 10px 17px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    padding: 15px 10px 17px;
  }
}
.example__spending {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 10px 0 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .example__spending {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 175px;
    justify-self: end;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .example__spending {
    grid-column: 1 / 2;
    justify-content: space-between;
    justify-self: start;
    width: auto;
    margin: 0;
    padding: 22px 0;
  }
}
.example__images {
  position: relative;
  height: 260px;
}
@media (min-width: 768px) {
  .example__images {
    grid-column: 1 / -1;
    padding: 55px 0 0 0;
    height: 511px;
  }
}
@media (min-width: 1440px) {
  .example__images {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 0;
    margin-top: -45px;
  }
}
.example__image {
  display: block;
  position: absolute;
  height: 232px;
  width: auto;
}
@media (min-width: 768px) {
  .example__image {
    height: 511px;
    width: auto;
  }
}
.example__range {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .example__range {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1440px) {
  .example__range {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}
.contacts {
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 59px 70px 63px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px 78px;
    justify-content: start;
    gap: 50px;
  }
}
.contacts__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #111111;
    width: 200px;
  }
}
.contacts__adress {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 140px;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__adress {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    width: 160px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .contacts__adress {
    text-align: start;
    margin-top: -5px;
  }
}
.contacts__map {
  height: 362px;
  background-image: url(../../img/map-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
    background-image: url(../../img/map-tablet.png);
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    background-image: url(../../img/map-desktop.png);
  }
}
.questionary {
  padding: 20px 20px 32px;
}
@media (min-width: 768px) {
  .questionary {
    padding: 20px 70px 32px;
  }
}
@media (min-width: 1440px) {
  .questionary {
    padding: 20px 110px 32px;
  }
}
.questionary__field {
  margin: 0 0 20px;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.questionary__label {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.questionary__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.questionary__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.questionary__input {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.questionary__check {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.questionary__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  margin-bottom: 20px;
}
.questionary__footnote {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}
@media (min-width: 1440px) {
  .questionary__main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .questionary__contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .questionary__additional-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .questionary__additional-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.questionary__button-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .questionary__button-wrapper {
    flex-direction: row;
  }
}
.section-food {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .section-food {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .section-food {
    padding: 0 110px;
  }
}
.section-food__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .section-food__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .section-food__list {
    gap: 80px;
  }
}
.section-food__item {
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}
@media (min-width: 768px) {
  .section-food__item {
    display: flex;
    flex-direction: column;
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .section-food__item {
    width: 245px;
  }
}
.section-food__show-more {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section-food__show-more {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .section-food__show-more {
    width: 245px;
  }
}
.food-item__link {
  text-decoration: none;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
@media (min-width: 768px) {
  .food-item__link {
    margin-bottom: 34px;
  }
}
.food-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  width: 55%;
  text-transform: uppercase;
  grid-column: 2 / 3;
}
@media (min-width: 768px) {
  .food-item__title {
    margin-bottom: 21px;
  }
}
.food-item__image {
  display: block;
}
.food-item__data {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: space-between;
}
.food-item__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  grid-column: 1 / 3;
}
.data-list__description {
  margin: 0;
  justify-self: flex-end;
}
.show-more__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}
.show-more__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
.show-more__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}
.section-extra {
  padding: 25px 20px 20px;
}
@media (min-width: 768px) {
  .section-extra {
    padding: 25px 30px;
  }
}
@media (min-width: 1440px) {
  .section-extra {
    padding: 25px 110px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}
.section-extra__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
@media (min-width: 1440px) {
  .section-extra__title {
    grid-column: 1 / -1;
  }
}
.section-extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .section-extra__list {
    margin-bottom: 69px;
  }
}
.section-extra__item {
  padding: 11px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .section-extra__item {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1440px) {
  .section-extra__item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
  }
}
.extra__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .extra__title {
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .extra__title {
    margin: 0;
  }
}
.extra__data {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .extra__data {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}
.extra__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .extra__button {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1440px) {
  .extra__button {
    grid-column: 3 / 4;
  }
}
@media (min-width: 768px) {
  .data__name {
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .data__name {
    justify-self: start;
  }
}
.data__description {
  margin: 0;
}
@media (min-width: 1440px) {
  .data__description {
    justify-self: start;
  }
}
.offer {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
.offer__wrapper {
  background-color: #68b738;
  background-image: url(../../img/catalog-gift-background.jpg);
  background-repeat: no-repeat;
  background-size: 280px 290px;
}
@media (min-width: 768px) {
  .offer__wrapper {
    background-size: cover;
    background-position: center;
  }
}
.offer__text {
  margin: 0;
  padding: 187px 60px 43px;
}
@media (min-width: 768px) {
  .offer__text {
    padding: 71px 124px 69px 422px;
  }
}
@media (min-width: 1440px) {
  .offer__text {
    padding: 184px 40px 40px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.page-footer__logo {
  display: block;
  align-self: center;
  width: 128px;
  height: auto;
  padding: 39px 0 30px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
}
.page-footer__social {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 16px);
  gap: 32px;
}
@media (max-width: 767px) {
  .page-footer__social::before {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    right: -75px;
    top: 0;
  }
  .page-footer__social::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    right: -75px;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__social {
    padding: 0;
    grid-template-columns: repeat(3, 22px);
  }
}
.page-footer__academy {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
}
@media (min-width: 768px) {
  .page-footer__academy {
    justify-content: flex-end;
    gap: 22px;
    padding: 0;
  }
}
.social__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social__link {
  display: block;
}
/*# sourceMappingURL=style.css.map */
